<br>
<%= button_to "+ Create a group", new_group_path() %> 
<!-- ERROR: no route matches post -->

<% Group.all.each do |group| %>
<% @url = "/groups/" + group.id.to_s %>
	<a href = <%= @url %> > <h2><%= group.name %></h2> </a>
<% end %>

