<center>
<a href="#"><%= image_tag("dinr.png", :alt => "dinr logo", :style => "width:20%") %></a>

<h4><%= link_to 'Locations', locations_path %></h4>
<h4><%= link_to 'Groups', groups_path %></h4>


<footer>Final Project @ UC Berkeley's Rails Decal <br>
	Created by Jenny Li, Saloni Shah, Dipsikha Halder, Jeffrey Lin</footer>
</center>