<center>
<a href="#"><%= image_tag("dinr.png", :alt => "dinr logo", :style => "width:20%") %></a>

<p><%= link_to 'Locations:', locations_path %></p>
<p><%= link_to 'Groups', groups_path %></p>


<footer>Final Project @ UC Berkeley's Rails Decal</footer>
</center>