

<div class="row">
  <div class="col-sm-6">
 
    <!-- normal -->
    <% Location.all.each do |location| %>
    <% @url = "/locations/" + location.id.to_s %>
    <div class="ih-item circle effect1"><a href = <%= @url %> >
        <div class="spinner"></div>
        <div class="img"><%= image_tag("cafe3.jpg", :alt => "cafe") %></div>
        <div class="info">
          <div class="info-back">
            <h3><%= location.name %></h3>
            <p><%= location.address %></p>
          </div>
        </div></a></div>
    <% end %>
    <!-- end normal -->
 
  </div>
</div>