<div class="container">
  <div class="row">
    <h3>Locations</h3>
    <div class="row">
     
          <% @locations.each do |location| %>
              <div class="ih-item circle effect1"><a href="#">
        <div class="spinner"></div>
        <div class="img"><%= image_tag("cafe3.jpg", :alt => "cafe") %></div>
        <div class="info">
          <div class="info-back">
            <h3><%= location.name %></h3>
            <p>Description goes here</p>
          </div>
        </div></a></div>
    <!-- end normal -->
  </div>
          <% end %>

    </div>
  </div>
    <div class="col-sm-6">
 
    <!-- normal -->

</div>