<% @groups.each do |group| %>
    <% @id = group.id %>

<table data-toggle="table" data-url="data1.json" data-cache="false" data-height="299">
    <thead>
        <tr>
            <div data-field="name"><div class = "data-field"><%= group.name %></div></th>
        </tr>
    </thead>
</table>

<% end %>
